services:
  app:
    container_name: my-ktor-backend
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PASSWORD}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      JDBC_DATABASE_URL: ${JDBC_DATABASE_URL}
      SECRET: ${SECRET}
    depends_on:
      - db
    restart: always
    networks:
      - app_network

  db:
    image: postgres:15-alpine
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./Db:/docker-entrypoint-initdb.d
    restart: always
    networks:
      - app_network

volumes:
  db_data:
    driver: local

networks:
  app_network: